spring:
  #H2
  h2:
    console:
      enabled: true
      path: /h2

  #Datasource
  datasource:
    url: jdbc:h2:mem:default
    driver-class-name: org.h2.Driver
    username: root
    password: 1111

  #Flyway
  flyway:
    enabled: true
    locations: classpath:/db/migration
    user: root
    password: 1111
    url: jdbc:h2:mem:default;DB_CLOSE_DELAY=-1

  #JPA
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
